.hero {
    display: grid;
    grid-template-rows: 1fr;
    gap: 1rem;
}
.col .group-info {
    margin-bottom: 1rem;
}
.col .dropdown,
.col .title {
    margin: 0 1rem 0 0;
    display: inline-block;
}
.hero .group-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    height: 30vh;
    box-shadow: var(--shadow);
    padding: 1rem 0.5rem;
    gap: 1rem;
    overflow-y: scroll;
    border: 1px solid grey;
    border-radius: 0.5rem;
    justify-items: center;
}
.hero img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    transition: all 0.5s ease;
}
.hero img:hover {
    box-shadow: var(--shadow);
    transform: scale(1.1);
}
.hero-active {
    border: 2px solid rgb(255, 120, 120);
}
@media screen and (min-width: 768px) {
    .hero {
        grid-template-columns: repeat(3, 1fr);
    }
    .hero .col {
        padding: 0 1rem;
    }
    .hero .group-img {
        grid-template-columns: repeat(2, 1fr);
        height: 60vh;
    }
}

@media screen and (min-width: 992px) {
    .hero .group-img {
        grid-template-columns: repeat(3, 1fr);
    }
}
